@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  background-color: #fff;
  color: #123636;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1080px;
}

header {
  background-color: #fbfbfb;
}

.upper-header {
  border-bottom: 1px solid #f0f0f0;
  color: #464646;
  font-size: 14px;
}

.upper-header .header-phone {
  position: relative;
}

.upper-header .header-phone::before {
  content: "";
  position: absolute;
  background: url(../img/phone.png) no-repeat;
  width: 1rem;
  height: 1rem;
  top: 3px;
  left: -23px;
}

.upper-header .header-language {
  position: relative;
}

.upper-header .header-language::before {
  content: "";
  position: absolute;
  background: url(../img/globe.png) no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  top: 2px;
  right: 23px;
}

.upper-header .header-language::after {
  content: "";
  position: absolute;
  background: url(../img/arrow-down.png) no-repeat;
  width: 8px;
  height: 8px;
  top: 9px;
  right: -14px;
  cursor: pointer;
}

.upper-header .header-language span {
  text-transform: uppercase;
}

.logo {
  margin-right: 40px;
}

.logo a {
  text-decoration: none;
}

.logo .upper-logo span {
  color: #3a7b7b;
  font-size: 19px;
  font-weight: 700;
  line-height: 28.5px;
}

.logo .lower-logo span {
  color: #6a8a8a;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #f98357;
}

.dropdown-menu {
  background: #fbfbfb;
  border: none;
  font-size: 14px;
  margin: 0.125rem 0 0 -1rem;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  color: #f98357;
}

.btn {
  padding: 10px 32px;
  color: #fff;
  font-size: 15px;
  line-height: 29px;
  font-weight: 500;
  background-color: #f98357;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: #f57559;
  color: #fff;
}

.btn.btn-small {
  padding: 6px 32px !important;
}

.carousel-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #77b6b7), color-stop(25%, #113538), color-stop(46%, #113538));
  background: linear-gradient(90deg, #77b6b7 16%, #113538 25%, #113538 46%);
}

.carousel-caption h5 {
  font-size: 45px;
  font-weight: 700;
  line-height: 67.5px;
}

.carousel-caption {
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel-caption h5 {
  margin-bottom: 0.75rem;
}

.carousel-caption p {
  margin-bottom: 2rem;
}
