@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  background-color: #fff;
  color: #123636;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1080px;
}

header {
  background-color: #fbfbfb;
}

.upper-header {
  border-bottom: 1px solid #f0f0f0;
  color: #464646;
  font-size: 14px;
}

.upper-header .header-phone {
  position: relative;
}

.upper-header .header-phone::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -23px;
  background: url(../img/phone.png) no-repeat;
  width: 1rem;
  height: 1rem;
}

.upper-header .header-language {
  position: relative;
}

.upper-header .header-language::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 23px;
  background: url(../img/globe.png) no-repeat;
  width: 1.25rem;
  height: 1.25rem;
}

.upper-header .header-language::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -14px;
  background: url(../img/arrow-down.png) no-repeat;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.upper-header .header-language span {
  text-transform: uppercase;
}

.logo {
  margin-right: 40px;
}

.logo a {
  text-decoration: none;
}

.logo .upper-logo span {
  color: #3a7b7b;
  font-size: 19px;
  font-weight: 700;
  line-height: 28.5px;
}

.logo .lower-logo span {
  color: #6a8a8a;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  color: #f98357;
}

.dropdown-menu {
  background: #fbfbfb;
  border: none;
  margin: 0.125rem 0 0 -1rem;
  font-size: 14px;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  color: #f98357;
}

.btn {
  padding: 10px 32px;
  color: #fff;
  font-size: 15px;
  line-height: 29px;
  font-weight: 500;
  background-color: #f98357;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.btn:hover {
  opacity: 0.9;
  color: #fff;
}

.btn.btn-small {
  padding: 6px 32px !important;
}

.btn.btn-green {
  background-color: #3a7b7b;
}

.btn.btn-blue {
  background-color: #2989dd;
}

.btn.btn-outlined {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.carousel .carousel-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #77b6b7), color-stop(25%, #113538), color-stop(46%, #113538));
  background: linear-gradient(90deg, #77b6b7 16%, #113538 25%, #113538 46%);
}

.carousel .carousel-caption {
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .carousel-caption h5 {
  margin-bottom: 0.75rem;
  font-size: 45px;
  font-weight: 700;
  line-height: 67.5px;
}

.carousel .carousel-caption p {
  margin-bottom: 2rem;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 3px solid #d4d4d4;
}

.carousel .carousel-indicators li.active {
  background: #fff;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-image: none;
  position: relative;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  opacity: 1;
}

.carousel .carousel-control-next-icon:after {
  content: "";
  font-size: 55px;
  color: red;
  background-image: url(/img/arrow-right.png);
  position: absolute;
  top: 0;
  right: 6rem;
  width: 18px;
  height: 32px;
}

.carousel .carousel-control-prev-icon:after {
  content: "";
  font-size: 55px;
  color: red;
  background-image: url(/img/arrow-left.png);
  position: absolute;
  top: 0;
  left: 6rem;
  width: 18px;
  height: 32px;
}

@media (max-width: 1160px) {
  .carousel-caption {
    top: 38%;
  }
  .carousel-caption h5 {
    font-size: 40px;
  }
  .carousel-caption p {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .carousel-caption {
    top: 37%;
  }
  .carousel-caption h5 {
    line-height: 50px;
    font-size: 34px;
  }
  .carousel-caption p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media (max-width: 860px) {
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h5 {
    font-size: 26px;
    line-height: 40px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 38%;
  }
  .carousel-caption h5 {
    font-size: 20px;
    line-height: 25px;
  }
  .carousel-caption p {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 620px) {
  .carousel-caption {
    top: 34%;
  }
  .carousel-caption h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-screen-btn {
    top: 10px;
  }
}
