.btn {
    padding: 10px 32px;

    color: $white;
    font-size: 15px;
    line-height: 29px;
    font-weight: 500;

    background-color: $brand-orange-first;

    transition: opacity 0.2s ease-out;

    &:hover {
        opacity: 0.9;
        color: $white;
    }

    &.btn-small {
        padding: 6px 32px !important;
    }

    &.btn-green {
        background-color: $green;
    }

    &.btn-blue {
        background-color: #2989dd;
    }

    &.btn-outlined {
        color: $white;
        border: 2px solid $white;
        background-color: transparent;
    }
}
