header {
    background-color: #fbfbfb;
}

.upper-header {
    border-bottom: 1px solid #f0f0f0;
    color: #464646;
    font-size: 14px;

    .header-phone {
        position: relative;
    }

    .header-phone::before {
        content: "";
        position: absolute;
        background: url(../img/phone.png) no-repeat;
        width: 1rem;
        height: 1rem;
        top: 3px;
        left: -23px;
    }

    .header-language {
        position: relative;
    }

    .header-language::before {
        content: "";
        position: absolute;
        background: url(../img/globe.png) no-repeat;
        width: 1.25rem;
        height: 1.25rem;
        top: 2px;
        right: 23px;
    }

    .header-language::after {
        content: "";
        position: absolute;
        background: url(../img/arrow-down.png) no-repeat;
        width: 8px;
        height: 8px;
        top: 9px;
        right: -14px;
        cursor: pointer;
    }

    .header-language span {
        text-transform: uppercase;
    }
}
.logo {
    margin-right: 40px;

    a {
        text-decoration: none;
    }
    .upper-logo span {
        color: $green;
        font-size: 19px;
        font-weight: 700;
        line-height: 28.5px;
    }
    .lower-logo span {
        color: #6a8a8a;
        font-size: 11px;
        line-height: 16.5px;
        font-weight: 300;
    }
}
.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    transition: color 0.2s ease-out;

    &:focus,
    &.active,
    &:hover {
        color: $brand-orange-first;
    }
}

.dropdown-menu {
    background: #fbfbfb;
    border: none;
    font-size: 14px;
    margin: 0.125rem 0 0 -1rem;

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: $brand-orange-first;
    }
}
