.element-1 {
    margin: 45px 0;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 90px;
}

.owl-prev::after {
    content: "";
    font-size: 55px;
    background-image: url(/img/arrow-gray-left.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 32px;
}

.owl-next::after {
    content: "";
    font-size: 55px;
    background-image: url(/img/arrow-gray-right.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 32px;
}

.owl-next span, .owl-prev span {
    display: none;
}

.owl-dots {
    display: none;
}

.owl-card {
    background-color: #fff;
    overflow: hidden;

    .card-body {

        .card-price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;

            .price {
                color: $brand-orange-first;
                font-size: 22px;
                line-height: 33px;
                font-weight: 600;
            }

            .duration {
                line-height: 24px;
                color: #574c4c;
                opacity: .5;
            }
        }
        .card-description {
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
            margin-bottom: 12px;
        }
        .card-location {
            display: flex;

            .location-icon {
                width: 14px;
                margin-top: 2px;
            }
            .location {
                color: #646262;
                margin-left: 9px;
            }
        }
    }

}