// Typography
$font-family-sans-serif: "Poppins", sans-serif;

// Colors
$white: #fff;
$bg-color: #eff7f8;
$text-color: #123636;
$title-color: #0f3535;
$dark-green: #123636;
$green: #3a7b7b;
$ocean: #6fcdce;
$brand-orange-first: #f57559;
$brand-orange-second: #f98357;
