.about {
    padding: 6.5rem 0;

    .about-body {
        display: flex;
        padding-top: 35px;
    }

    img {
        object-fit: cover;
    }

    .about-description {
        padding: 40px;

        .about-text {
            line-height: 1.5rem;
            color: #c3c3c3;
            padding-bottom: 35px;
        }
    }
}

.offer {
    background-color: #f5fdff;
    padding: 100px;

    .offer-description {
        text-align: center;
        color: #c3c3c3;
    }
}


.testimonials {
    padding: 100px 0;
}

.card-lower-description {
    color: #8C8C8C;
    font-size: 14px;
    line-height: 21px;
}